@charset "UTF-8";

/* Importando as fonts */
@font-face {
    font-family: Amatic;
    src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
    font-family: "Bebas Neue";
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

/* font-family: 'Bigelow Rules', serif;
font-family: 'Rubik Glitch', system-ui;
font-family: 'Wavefont', system-ui; */

/* Estilo geral da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --color-primmary: steal;

}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* max-width: 350px; */
    margin: 20px auto;
}

.flex {
    display: flex;
    gap: 12px;
    margin: 5px auto;
    flex-wrap: wrap;
    width: 350px;
}

/* Classes auxiliares */
.space-between {justify-content: space-between;}
.center {align-items: center;}


.logo {
    width: 50px;
}

#imagem-logo {
    width: 100%;
}

.menu-desktop li{
    display: inline-block;
}

#botao {
    justify-self: center;
    align-self: center;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #E05206;
    color: white;
}
