/* Estilo geral da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    text-decoration: none;
    list-style-type: none;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1280px;
    margin: 20px auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.logo {
    width: 50px;
}

#imagem-logo {
    width: 100%;
}

.menu-desktop li{
    display: inline-block;
}